.menu{
    color: white;
    text-transform: uppercase;
    margin-bottom: 5px;
    text-align: justify;
}

.div_menu{
    background-color: black;
}

.slider-div{
    margin-left: 30px;
}

.slider{
    
}

p{
    text-align: justify;
}

.footer{
    font-weight: bold;
    color: white;
    background-color: black;
    text-align: center;
}

.footer-alamat{
    color: white;
    background-color: black;
    text-align: center;
}